<template>
  <div id="app">
    <Todos></Todos>
  </div>
</template>

<script>
import Todos from './components/Todos'

export default {
    name: 'HЯ⾀',
    components: {
        Todos
    }
}
</script>
